

<div class="container">
<h3 style="text-align:center;">View Employee Details</h3><br>
<br>

<div>
  <div>
    <label><b>First Name:</b>&nbsp;&nbsp;</label>{{employee.firstname}}
  </div>
  <br>
  <br>
  <div>
    <label><b>Last Name:</b>&nbsp;&nbsp;&nbsp;</label>{{employee.lastname}}
  </div>
  <br>
  <br>
  <div>
    <label><b>Email Id:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>{{employee.emailid}}
  </div>
  <br>
  <br>
  <div>
    <label><b>Salary:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>{{employee.salary}}
  </div>
  <br>
  <br>
  <div>
    <label><b>Phone No:</b>&nbsp;&nbsp;&nbsp;&nbsp;</label>{{employee.phoneno}}
  </div>
  <br>
  <br>
</div>
</div>


